@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap"); */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    /* font-family: "Cactus Classical Serif", serif; */
  }
}
.gradient-background {
  background: radial-gradient(
      circle at top left,
      rgb(102, 101, 101),
      transparent 20%
    ),
    radial-gradient(circle at top right, rgb(102, 101, 101), transparent 20%),
    radial-gradient(circle at bottom left, rgb(102, 101, 101), transparent 20%),
    radial-gradient(circle at bottom right, rgb(102, 101, 101), transparent 20%),
    #191919;
}
.el {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  .imageContainer {
    position: relative;
    width: 25vw;
    height: 25vh;

    img {
      object-fit: cover;
    }
  }
  &:nth-of-type(2) {
    .imageContainer {
      top: -30vh;
      left: 5vw;
      width: 35vw;
      height: 30vh;
    }
  }
  &:nth-of-type(3) {
    .imageContainer {
      top: -10vh;
      left: -25vw;
      width: 20vw;
      height: 45vh;
    }
  }
  &:nth-of-type(4) {
    .imageContainer {
      left: 27.5vw;
      width: 25vw;
      height: 25vh;
    }
  }
  &:nth-of-type(5) {
    .imageContainer {
      top: 27.5vh;
      left: 5vw;
      width: 20vw;
      height: 25vh;
    }
  }
  &:nth-of-type(6) {
    .imageContainer {
      top: 27.5vh;
      left: -22.5vw;
      width: 30vw;
      height: 25vh;
    }
  }
  &:nth-of-type(7) {
    .imageContainer {
      top: 22.5vh;
      left: 25vw;
      width: 15vw;
      height: 15vh;
    }
  }
}
.text-gradient {
  background: linear-gradient(90deg, red, #78f7a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
body {
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
.page-transition {
  opacity: 0;
  background: rgba(0, 0, 0, 0.774);
  transform: translateY(40px);
  filter: blur(12px);
}
.hoverText {
  transition: 0.35s font-weight, 0.35s color;
}

.hoverText:hover {
  font-weight: 900;
  color: rgb(243, 95, 95);
}

/* To the right */
.hoverText:hover + .hoverText {
  font-weight: 500;
  color: rgb(249, 87, 87);
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
  font-weight: 500;
  color: rgb(244, 114, 114);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 300;
}
.diagonalImage {
  clip-path: polygon(40% 0, 100% 0, 60% 100%, 0% 100%);
}
